@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
  font-family: 'Avenir-Heavy';
  src: url('../assets/fonts/Avenir Heavy/Avenir Heavy.ttf');
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: inherit;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

button {
  background: none;
}

:root {
  --color-primary: #3b4c64;
  --color-primary-light: #597193;
  --color-secondary: #246b85;
  --color-grey-1: #d6d6d6;
  --color-grey-2: #d4d4d4;
  --color-grey-3: #e1e1e1;
  --color-grey-4: #afafaf;
  --color-grey-5: #040404;
  --color-grey-6: #212020;
  --bottom-bar-gradient: linear-gradient(0deg, #020814 0%, #030d20 100%);
  --button-gradient: linear-gradient(270deg, #1ed761 0%, #1e64d7 100%);
  --sidebar-background: transparent linear-gradient(0deg, #010b1e 0%, #020b1c 100%) 0% 0% no-repeat
    padding-box;
  --main-background: transparent linear-gradient(180deg, #000c1d 0%, #08152d 100%) 0% 0% no-repeat
    padding-box;
  --icon-fill: #b3b3b3;
  --unseeked-bar-background: #747474;
  --seeked-background: transparent linear-gradient(270deg, #1ed761 0%, #1e64d7 100%) 0% 0% no-repeat
    padding-box;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Change the variables to toggle light mode */
    --color-primary: #3b4c64;
  }
}
